* {
    margin: 0;
    padding: 0;
    
  }

body{
    background: #f1f1f1;
    
}
.leftBoard{
    background-image: url("../img/Calque_4.png");
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    
}

header{
    
    background-image: url("../img/Rectangle_1.png");
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    

}

.logoLeft{
    display: flex;
    background-image: url("../img/logo_UL.png");
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    margin-left: 5%;
}

.logoI{
    display: flex;
    background-image: url("../img/logo_INSA.png");
    width: 100%;
    height: 50px;
    background-repeat: no-repeat;
    margin-top: -26%;
    margin-left: 15%;

}

.recRight{
    display: flex;
    background-image: url("../img/Rectangle_right.png");
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    justify-content: end;
    margin-left: 63%;
    margin-top: 1%;

}

.recLeft{
    display: flex;
    background-image: url("../img/Rectangle_left.png");
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    margin-top: -26%;

}



header h1{
    display: flex;
    color: #f1f1f1;
    justify-content: center;
    
}

footer{
    background-image: url("../img/Rectangle_6.png");
    width: 100%;
    height: 200px;

}

text {
    margin-top: 5px;
}
